@font-face {
    font-family: 'sagin';
    src: url('../fonts/main.ttf');
    font-weight: normal;
    font-style: normal;
}

#logo{
    font-family: 'sagin', serif;
    font-size: 72px;
    text-align: center;
    width: 100vw;
    height: auto;
}

.gagin {
    font-family: 'sagin', serif;
}